<!DOCTYPE html>
<html>

<head>
    <title>JAX Workshop</title>
    <link rel="stylesheet" href="{{ url_for('static', path='index.css') }}" />
    <script type="module" src="{{ url_for('static', path='index.js') }}"></script>
</head>

<body>
    <article>
        <header>
            <h1>JAX Workshop</h1>
        </header>
        <canvas id="canvas" width="300" height="300">
            A place to click and make regressions
        </canvas>
        <input type="number" min="1" max="10" step="1" value="1" id="degree">
        <footer>Click on the canvas to create points.
            Change the number to change the degree of regression.</footer>
    </article>
</body>

</html>
